.intro__list {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #fff;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}