.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/cover__background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 92px 0;
    min-height: 740px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin-top: 90px;
        margin-bottom: 90px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 62px;
        margin-bottom: 0;
        min-height: 200px;
    }
}