.lead__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.875rem;
  letter-spacing: 0.094rem;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin: 5px 0 0 0;
  align-self: flex-start;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}